.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    row-gap: 15px;
	column-gap: 15px;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px
}
.prov{
	width: 200px;
	height: 200px;
	object-fit: contain;
}
div.prov {
	display: block;
}
.prov img{
	width: 200px;
	height:200px;
	border: 2px solid rgb(9, 0, 58);
	border-top-color: rgb(9, 0, 58);
	border-top-style: solid;
	border-top-width: 2px;
	border-right-color: rgb(9, 0, 58);
	border-right-style: solid;
	border-right-width: 2px;
	border-bottom-color:(9, 0, 58);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-left-color: (9, 0, 58);
	border-left-style: solid;
	border-left-width: 2px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
body{
     padding    : 0;
     margin     : 0;
	 font-family: Helvetica;
}
#header{
      position: fixed;
      top     : 0;
      left    : 0;
      z-index : 500;
      width   :100%;
      height  :90px;
	  background-image  : url('images/bg.png');
      background-repeat: repeat-x;
}
#header img{
      display: block;
      margin : auto;
      height : 130%;
	  width: 25%;
      padding-top: 1px; 
}
#tabs-top{
      position: fixed;
      top     : 90px;
      left    : 0;
      z-index : 500;
      width   : 100%;
      height  : 40px;
}
#tabs-top a{
	  background-color: #7897ab;
      float   : left;
      display : block;
      width   : 25%;
      height  :35px;
      font-weight : 700;
      color       : black;
      text-align  : center;
      text-decoration : none;
      padding-top     : 12px; 
}
#main-home{
       margin-top: 120px;
	   background-image: url('images/main.jpg');
	   background-repeat: no-repeat;
       background-size: cover;
}
#tabs-bottom{
      position : fixed;
      bottom   : 0;
      left     : 0;
      z-index  : 500;
      width    : 100%;
      height   : 40px;
      background-color: #7897ab;
}
#tabs-bottom a{
     float : left;
     display : block;
     width : 50%;
     height : 35px;
     font-weight : 700;
     color       : black;
     text-align  : center;
     text-decoration : none;
     padding-top     : none;
}
#main{
    margin-top: 119px;
    background: url('images/background.png');
    background-repeat: repeat-y;
	background-repeat: no-repeat;
    background-size: cover;
}
#content{
    padding-top: 1px;
    padding-bottom: 50px;
}
a.info-box {
      text-decoration : none;
      background-color: rgba(0, 0, 0, 0.5); 
      width           : 90%;
      height          : 90px;
      display         : block;
      margin          : auto;
      margin-top      : 12px;
      padding         : 1px; 
}
.info-box img{
      height : 70px;
      margin : 10px;
      float  : left;
}
.info-box h3{
      padding : 0;
      margin-bottom :0;
      width : 90%;
      color : #ffffff;
}
.info-box p{
      margin  : 0;
      padding : 0;
      width   : 90%;
      color   : #131313;
}
#info-box-full{
      background-color : rgba(0, 0, 0, 0.5) ;
      width   : 90%;
      display : block;
      margin  : auto;
      margin-top : 12px;
      padding    : 10px;
}
#info-box-full img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
}
#info-box-full p{
     color: #ffffff;
}
#info-box-full h3{
      text-align : center;
}
.column{
	float: left;
	width: 33.33%;
	padding: 5px;
}
.row::after{
	content: "";
	clear: both;
	display: table;
}
.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}
input{
      width: 100%;
      height: 25px;
      margin : 12px 0;
      border : 1px solid #929292;
}
textarea{
      width: 100%;
      height :25px;
      margin : 12px 0;
      border : 1px solid #929292;
}
.button{
      display : block;
      background-color: #1fb317;
      text-decoration : none;
      text-align  : center;
      color       : black;
      font-size   : 16px;
      font-weight : 600;
      margin : 12px 0;
      padding : 8px 0;
}